.download-window {
  height: 90vh;
  padding: 40px 25px;
  overflow-y: auto;
}

/* Details */

.details {
  flex: 1 0;
}

.youtube-downloader-image {
  background-image: url('../../../assets/img/audio_downloader.png');
  background-size: cover;
}

.image-video {
  height: 18vh;
  margin: 5px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.14), 0 4px 11px 10px rgba(0,0,0,0.12), 0 3px 7px 0 rgba(0,0,0,0.2) !important
}

.dw-header {
  margin: 10px 0;
  height: 15vh;
}

.download-title {
  height: 5vh;
  color: grey;
  text-align: center;
}

/* Params */

.params {
  height: 20vh;
}

.url-input {
  width: 100%;
}

.formats {
  width: 40%;
}

.centered {
  width: 100%;
  display: inline-flex;
}

.middle-width {
  width: 50%;
}

.flex {
  flex: 1 1;
}

.margin-auto {
  margin: auto auto;
}

/* Actions */
