<md-progress-bar mode="indeterminate" [color]="colorLoadingBar" *ngIf="showLoadingBar"></md-progress-bar>

<md-card class="download-window">
  <md-card-header class="dw-header">
    <div md-card-avatar class="youtube-downloader-image"></div>
    <md-card-title>Youtube Downloader</md-card-title>
    <md-card-subtitle>From URL to Audio/Video files</md-card-subtitle>
  </md-card-header>

  <md-card-content class="details">
    <section class="centered">
      <div class="margin-auto">
        <img [src]="thumbnails" class="image-video"/>
      </div>
    </section>
  </md-card-content>

  <md-card-content class=download-title>
        <h4>{{downloadTitle}}</h4>
  </md-card-content>

  <md-card-content class="params">
    <section>
      <md-input-container class="url-input">
        <input mdInput type="text" placeholder="URL" [(ngModel)]="url"/>
      </md-input-container>
    </section>

    <section>
      <md-select class="formats" placeholder="Format" [(ngModel)]="selectedFormat">
        <md-option *ngFor="let format of selector.formats" [value]="format.value">
          {{format.viewValue}}
        </md-option>
      </md-select>
    </section>
  </md-card-content>

  <md-card-actions>
    <section class="centered">
      <div class="margin-auto">
        <button md-raised-button
                color="warn"
                (click)="ngDownload()"
                [disabled]="showLoadingBar"
        >{{btnDownloadText}}
        </button>
      </div>
    </section>
  </md-card-actions>
</md-card>
